# My Python

In [5]:
print('hello world')

hello world

In [6]:
print(1)

1

# DATA TYPES

In [7]:
w = "abcd"
x = 123
y = "12a"
z = True

In [8]:
print(w,x,y,z)

abcd 123 12a True

In [13]:
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [14]:
greetings = "Happy Jumuah"
print(len(greetings))

12

In [25]:
print(greetings[0:5])
print(greetings[2:5])
print(greetings[-5:-1])

Happy
ppy
umua

In [3]:
surname = "Bakare"
name = "Musa"
print("my name is {one} and surname is {two}".format(one=name,two=surname))

my name is Musa and surname is Bakare

In [4]:
print("my name is " +surname+ " " +name)

my name is Bakare Musa

In [9]:
age = 22
txt = "my name is " +surname+ " " +name+ " " "and i am {one} years old"
print(txt.format(one=age))

my name is Bakare Musa and i am 22 years old

# OPERATORS

## ARITHMETIC OPERATORS

In [2]:
1+1

2

In [3]:
2-1

1

In [4]:
10/5

2.0

In [5]:
10*8

80

In [6]:
100%3

1

In [7]:
10**2

100

In [31]:
w = 10
x= 20
y = (w-x) * (w+x)

In [25]:
print(y)

-300

In [26]:
w += 10
print(w)

20

In [28]:
w -= 10
print(w)

0

In [32]:
w *= 10
print(w)

100

## COMPARISON OPERATORS

In [13]:
1==1

True

In [14]:
1<2

True

In [15]:
3>1

True

In [16]:
0 == 2

False

In [17]:
2 < 1

False

In [18]:
3 > 10

False

## LOGICAL OPERATORS

In [36]:
 a = 8
 a < 5 and a > 10

False

In [37]:
b = 10
b < 5 or b > 8

True

In [38]:
not(b < 5 and b > 20)

True

## IDENTITY OPERATORS

In [41]:
a is b

False

In [42]:
a is not b

True

# LISTS

In [46]:
list = ['apple','banana','cherry','cherry']
print(list)
print(len(list))

['apple', 'banana', 'cherry', 'cherry']
4

In [13]:
x = "Togo"
list1 = ['Nigeria','Congo','Ghana',x]
list2 = [1,2,3,4,5]
list3 = [True,True,False,False]
print(list1)
print(list2)
print(list3)

['Nigeria', 'Congo', 'Ghana', 'Togo']
[1, 2, 3, 4, 5]
[True, True, False, False]

In [14]:
thisList = ["apple",123,True,2j]
print(thisList)

['apple', 123, True, 2j]

In [15]:
print(type(list2))

<class 'list'>

In [16]:
 list1.append('Burkina Faso')
 list2.remove(1)
 list3.clear()

In [17]:
print(list1)
print(list2)
print(list3)

['Nigeria', 'Congo', 'Ghana', 'Togo', 'Burkina Faso']
[2, 3, 4, 5]
[]

In [43]:
europe = ['France','Portugal','Germany','England','Italy']
europe2 = []

for item in europe:
    if 'a' in item:
        europe2.append(item)

print(europe2)

['France', 'Portugal', 'Germany', 'England', 'Italy']

In [44]:
names = ['sandra','samad','musa','ola','sulaimon']

name =[]

for item in names:
    if item.startswith('m'):
        name.append(item)
        
print(name)

['musa']

In [51]:
america = ['argentina','brazil','honduras','panama','USA']
for x in america:
    print(x[::-1])

anitnegra
lizarb
sarudnoh
amanap
ASU

In [54]:
america = ['argentina','brazil','honduras','panama','USA']
[print (x) for x in america[::-1]]

USA
panama
honduras
brazil
argentina

[None, None, None, None, None]

In [1]:
bakare = ['jibola','olumide','olayiwola']
bakare2 = []

for x in bakare:
    if x.startswith('o'):
        bakare2.append(x)

print(bakare2)

['olumide', 'olayiwola']

In [2]:
[print(x) for x in bakare[::-1]]

olayiwola
olumide
jibola

[None, None, None]

# FUNCTION

In [1]:
def func():
    print('this is a function')

func()

this is a function

In [4]:
#passing arguments into a function parentheses
def func(name):
    print(name + " " "Bakare")

func("olayiwola")
func("olumide")
func("jibola")

olayiwola Bakare
olumide Bakare
jibola Bakare

In [7]:
def myFunc(country , state):
    print(country + " " +state)
myFunc("Nigeria","Lagos")

Nigeria Lagos

In [10]:
def function(*schools):
    print("the best school is " + schools[2])

function("UNILAG","UNILORIN","LASU")

the best school is LASU

In [11]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [19]:
def my_func(food):
    for x in food:
        print(x)

foods = ["rice","beans","spaghetti"]

my_func(foods)

rice
beans
spaghetti

In [22]:
def multi(x):
    return 10 * x

print(multi(6))
print(multi(30))

60
300

In [35]:
def tri_recursion(x):
    if(x > 3):
        result = x + tri_recursion(x - 1)
        print(result)
    else:
        result = 0
    return result

print("Results")
tri_recursion(10)

Results
4
9
15
22
30
39
49

49

In [6]:
def tri_recursion(k):
    if (k > 1):
        result = k + tri_recursion(k-1)
        print(result)

    else:
        result = 0
    return result

print("RESULTS")
tri_recursion(5)

RESULTS
2
5
9
14

14

# LAMBDA

In [37]:
x = lambda a : a + 10
print(x(5))

15

In [46]:
x = lambda a,b : a/b
print(x(200,50))

4.0

In [45]:
x = lambda a,b,c : a/b*c
print(x(200,50,40))

160.0

In [48]:
def func(b):
    return lambda a:a*b

myfunc = func(2)

print(myfunc(11))

22

In [51]:
def func(p):
    return lambda g : g + p

myFunc = func(10)

print(myFunc(15))

25

In [2]:
def mult(x):
    return lambda a: a * x

myMulti = mult(10)
print(myMulti(20))

200

# ARRAYS

In [58]:
cars = ["toyota","benz","ferrari","honda"]
print(cars[0])
print(len(cars))
print(cars[2:])
print(cars[-3:])

toyota
4
['ferrari', 'honda']
['benz', 'ferrari', 'honda']

In [60]:
for y in cars:
    print(y)

toyota
benz
ferrari
honda

In [61]:
cars.append("hyundai")
print(cars)

['toyota', 'benz', 'ferrari', 'honda', 'hyundai']

# CLASSES/OBJECTS

In [63]:
class myClass:
    x = 10

In [66]:
p1 = myClass()
print(p1.x)

10

In [71]:
class MySelf:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
p1 = MySelf("Ayomide",22)

print(p1.name)
print(p1.age)

Ayomide
22

In [12]:
class ola:
    x = "Bakare"

p1 = ola()
print(p1.x)

Bakare

In [15]:
class family:
    def __init__(self,name,surname):
        self.name = name
        self.surname = surname

p1 = family("Bakare","Ajibola")
print(p1.name)
print(p1.surname)

Bakare
Ajibola

In [26]:
class Nigeria:
    def __init__(self,state,capital):
        self.state = state
        self.capital = capital

p1 = Nigeria("Lagos","Ikeja")
p2 = Nigeria("Ogun","Abeokuta")
print(p1.state)
print(p1.capital)
print(p2.state)
print(p2.capital)

Lagos
Ikeja
Ogun
Abeokuta

In [27]:
class Uni:
    def __init__(self,name,location):
        self.name = name
        self.location = location

    def func(self):
        print("the name of my school is " + self.name)

p1 = Uni("LASU","LAGOS")
p1.func()

the name of my school is LASU

In [28]:
class city:
    def __init__(self,name,state):
        self.name = name
        self.state = state

p1 = city("Agbado","Ogun")
print(p1.name)

Agbado

In [30]:
class town:
    def __init__(self,name,situation):
        self.name = name
        self.situation = situation

    def function(func):
        print("i live at " + func.name)

p1 = town("Ope-ilu","Agbado")
p1.function()

i live at Ope-ilu

In [41]:
class town:
    def __init__(self,name,situation):
        self.name = name
        self.situation = situation

    def function(func):
        print("i live at " + func.name+ " " "at" + " " +func.situation)

p1 = town("Ope-ilu","Agbado")
p1.name = "Agege"
p1.function()

i live at Agege at Agbado

# INHERITANCE

In [43]:
class person:
    def __init__(self,name,lname):
        self.name = name
        self.lname = lname

    def func(self):
        print(self.name,self.lname)

g = person("olayiwola","ayomide")
g.func()

olayiwola ayomide

In [44]:
class student(person):
    pass

x = student('musa','gbenga')
x.func()

musa gbenga

In [49]:
# using __init__ funcion instead of pass
class fruits:
    def __init__(fruit,name,amount):
        fruit.name = name
        fruit.amount = amount
    def func(fruit):
        print(fruit.name,fruit.amount)

o = fruits("apple",20)
o.func()

class food(fruits):
    def __init__(food,name,amount):
        fruits.__init__(food,name,amount)

x = food("amala",25)
x.func()

apple 20
amala 25

In [51]:
# using super() funcion instead of pass
class fruits:
    def __init__(fruit,name,amount):
        fruit.name = name
        fruit.amount = amount
    def func(fruit):
        print(fruit.name,fruit.amount)

o = fruits("apple",20)
o.func()

class food(fruits):
    def __init__(food,name,amount):
        super().__init__(name,amount)

x = food("amala",25)
x.func()

apple 20
amala 25

In [54]:
# add properties
class fruits:
    def __init__(fruit,name,amount):
        fruit.name = name
        fruit.amount = amount
    def func(fruit):
        print(fruit.name,fruit.amount)

o = fruits("apple",20)
o.func()

class food(fruits):
    def __init__(food,name,amount):
        super().__init__(name,amount)
        food.type = "Nigerian"

x = food("amala",25)
x.func()
x.type

apple 20
amala 25

'Nigerian'

# PYTHON ITERATORS

In [55]:
tuple = ("banana","cherry","apple")
myIt = iter(tuple)

print(next(myIt))
print(next(myIt))
print(next(myIt))

banana
cherry
apple

In [57]:
# iteration of strings
fruit = "banana"
myit = iter(fruit)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [58]:
# using for to iterate
list = ["musa","roqeeb", "abdullah"]
for x in list:
    print(x)

musa
roqeeb
abdullah

In [59]:
name = "waliyat"
for x in name:
    print(x)

w
a
l
i
y
a
t